*{
  
}

.App{
  text-align: center;
}

.file{
  
}

.movies{
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie{
  border-radius: 50px;
}

.movies img{
  height: 300px;
  width: 200px;
}

.iconImage{
  height: 20px;
  width: 20px;
}